
// Primary Colors

$dark-Mangneta :  hsl(300, 43%, 22%);
$soft-Pink : hsl(333, 80%, 67%);


// Neutral Colors

$gray-Mangneta: hsl(303, 10%, 53%);
$ligth-gray: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Font-sizes
$title-bg: 2.5rem;
$title: 2rem;
$content: 15px;

// Font-styles
$font: 'Spartan', sans-serif;;
$weight-bg: 700;
$weight-md: 500;
$weight-sm: 400;



// margin-padding
$mg-bg: 2rem;
$mg-md: 1.5rem;


$pd-bgr: 2rem;
$pd-bg: 1.5rem;

//Line height
$line-h:1.5rem;


// borders

$bd-radius: 5px;

