
@mixin  desktop($breakpoint-desktop) {
    
    @media screen  and (min-width: $breakpoint-desktop) {
        body {
            background-image: url('../images/bg-pattern-top-desktop.svg'),
                              url('../images/bg-pattern-bottom-desktop.svg');
            background-repeat: no-repeat;
            background-position: left top, bottom  right;
        }
        .content-cards {
            max-width: 1200px;
            height: 400px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 375px;

            &--second {
                padding: $pd-bgr;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 300px;

            }
            
        }

        .card--first{
            width: 75%;
            text-align: start;
            grid-column: 1/2;

        }

        .card--second{
            justify-content: end;
            grid-column: 2/3;
            grid-row: 1/2;
            padding-bottom: 2.5rem;
        }

        .card {

            &__title{
                width: 350px;
                font-weight: bolder;
                font-size: $title-bg;
            }

            &__images{
                margin: 0 $mg-md;
            }

            &__subtitle {
                margin-top: 1rem;
            }


            &__content{
                width: 75%;
                font-size: 14px;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                height: 50px;
        
            }

            &__content--c{
                margin-left: $mg-bg;
                
            }

            &__content--d{
                align-self: center;
            }
        }  

        .opinion-card{
        
            &__description {
                font-weight: $weight-md;
                font-size: 13px;
            }
           
            &--a{
                justify-self: end;
            }
            
            &--b{
                align-self: center;
            }

            &--c{
                align-self: end;
                justify-self: start;
            }

        }
    }
      
}

